*, *::before, *::after {
    box-sizing: border-box;
  }
  
  @-webkit-keyframes rotate {
    100% {
      transform: rotate(1turn);
    }
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(1turn);
    }
  }
  .test {
    height: 100%;
    width: 100%;
    background-color: black;
    border-radius: 10px;
  }
  .test p {
    padding: 80px;
    font-weight: bold;
    font-size: 14px;
    color: #ebebf1;
  }
  
  .rainbow {
    position: relative;
    z-index: 0;
    width: 80%;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
    background-color: black;
    padding: 1.5px;
  }
  .rainbow::before {
    content: "";
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: black;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(90deg, #ececec 0%, #011017 0%, rgba(1, 14, 19, 0) 0%, rgba(1, 14, 19, 0) 0%, #fafafa 23%, rgba(233, 122, 11, 0.9976365546) 49%, #ebebf1 77%, #020024 100%);
    -webkit-animation: rotate 3s linear infinite;
            animation: rotate 3s linear infinite;
  }
  .rainbow::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: white;
    border-radius: 5px;
  }
